li.merge-request-draft {
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out;

    &:hover {
        opacity: 1;
    }
}

.merge-request, .issue-details {
    .note-form-actions {
        flex-wrap: wrap;
        display: flex !important;

        > button.btn-comment-and-close {
            margin-left: auto;
        }
    }
}
